

#input_div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  input{
    height: 2rem;
    border:1px solid black;
    border-radius: 5px;
    margin-right: 1rem;
    width: 250px;

}
button{
    height: 2rem;
    width: 4rem;
    border-radius: 5px;
}