#registration_form{
    width: 30%;
    margin: auto;
    padding-top: 2rem;
}
#registration_form>div{
   display: flex;
   flex-direction: column;
}

input{
    height: 2rem;
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}